@charset"utf-8";

body{overflow-y: hidden;}

.indicator{position: fixed; font-family: "Noto Sans KR"; color: #c4c4c4; height: 100px;display: flex; flex-direction: column; justify-content: center; top: calc(50% - 50px); left: calc(10% - 100px);}
.indicator .indi{color: black;}
.indicator .line{display: block; height: 20px; margin: 5px 0; background: #c4c4c4; width: 1px; left: 10px;}

/*section1*/
.section1{display: flex; overflow: hidden; font-family: "Noto Sans KR"}

.section1 .left{width: 35%; height: 100vh; display: flex; align-items: center; justify-content: flex-end;}
.section1 .left .logo{right: 5%;position: absolute;}
.section1 .left .line2{display: block; position: absolute; height: 200px; width: 1px; background: #c4c4c4; bottom: 0; right: calc(5% + 198px);}
.section1 .left .mini{display: block; position: absolute; background: #c4c4c4; width:20px; height: 1px; bottom: 100px;}
.section1 .left .mini1{transform: rotate(45deg); right: calc(5% + 196px);}
.section1 .left .mini2{transform: rotate(-45deg); right: calc(5% + 181px);}

.section1 .right{width: 65%; height: 100vh; padding-left: 20px; box-sizing: border-box;}
.section1 .right .title{font-size: 50px; font-weight: 900; position: absolute; top: 24%;}
.section1 .right .title span{font-size: 18px; font-weight: 100; margin-left: 10px;}
.section1 .right .text{position: absolute; font-size: 20px;}
.section1 .right .text1{top: 42%; left: 100px;}
.section1 .right .text2{top: 58%; left: 550px; text-indent: 2px;}
.section1 .right .text2 .name{background: black; color: #f0f0f0; margin-bottom: 30px; width: 200px; }
.section1 .right .text2 .name span{margin-left: 35px;}

/*section2*/
.section2{display: flex; overflow: hidden; font-family: "Noto Sans KR"}
.section2 .line_group{width: 35%; height: 100vh; }
.section2 .line_group .line{display: block; background: #c4c4c4; position: absolute;}
.section2 .line_group .line3{height: 80%; width: 1px; top: 0; right: calc(5% + 198px);}
.section2 .line_group .line4{width: 1500px; height: 1px; top: 80%; left: calc(95% - 199px)}

.section2 .left{width: 23%; height: 100vh;}
.section2 .text{position: absolute; font-size: 20px; left: -5%}
.section2 .text3{top: 20%;}
.section2 .text4{top: 45%;}
.section2 .text .certificate, .section2 .text .skill{background: black; color: #f0f0f0; margin-bottom: 30px; width: fit-content;}

.section2 .right{width: 42%; height: 100vh;}
.section2 .right .contact_text{font-size: 50px; left: 30px; position: absolute; bottom: 694px; font-weight: 900;}
.section2 .contact{width: 550px; background: black; color: #f0f0f0; position: absolute; height: 730px; bottom: 0; overflow: hidden; padding: 0 70px; box-sizing: border-box;}
.section2 .contact h3{font-size: 50px; top: -38px; left: -40px; font-weight: 900;}
.section2 label{font-size: 25px; font-weight: 900; position: absolute; transform: translateY(4px)}
.section2 input{background: none; border: none; border-bottom: 1px solid #f0f0f0; height: 50px; width: 100%; margin-bottom: 30px; font-size: 18px; color: #f0f0f0; text-indent: 90px;}
.section2 input::placeholder{font-size: 18px; text-indent: 90px; font-family: "Noto Sans KR"}
.section2 input:nth-child(5){text-indent: 135px;}
.section2 input:nth-child(5)::placeholder{text-indent: 135px;}
.section2 textarea{background: none; top: 50px; width: 100%; height: 170px; border: none; border-bottom: 1px solid #f0f0f0; font-size: 18px; color: #f0f0f0;font-family: "Noto Sans KR";}
.section2 textarea::placeholder{font-size: 18px;}
.section2 button{font-weight: 900; font-size: 25px; color: #f0f0f0; background: none; border: none; position: absolute; bottom: -150px; right: 0; cursor: pointer;}


.item{opacity: 0;}