@charset"utf-8";

.left .container{background: black;}
.left .container button{display: block; margin: 10px 0; background: none; border: none; color: white; font-size: 20px; font-family: "Roboto";}
:focus{outline: none;}

.right .frame .video_frame2{position: absolute; width: 16%; top: 34.5%; left: 3%; overflow: hidden;}
.right .frame .video_frame1{position: absolute; width: 63%; top: 3%; left: 14%; overflow: hidden;}

.right .type_content tr:nth-child(1){font-family: 'Roboto'; height: 40px;}
.right .type_content tr:nth-child(2){font-family: 'Noto Sans KR'; height: 40px;}

.right .comparison .new{margin-bottom: 100px; font-size: 20px; min-height: 1500px;}

.right .comparison .re{position: absolute; right: 50%;  z-index: 5; transform: translateY(-70%)}
.right .comparison .re_title{position: absolute; top: 45%; right: 8%; font-size: 18px; font-weight: bold; text-align: center;}
.right .comparison .re_point{width: 300px;line-height: 50px; font-family: "Noto Sans KR"; position: absolute; top: 25%; left: 48%; font-size: 20px;}

.right .comparison .plus{margin-top: 100px; text-align: center; font-size: 20px; min-height: 700px; margin-bottom: 150px;}
.right .comparison .plus_page{margin-top: 30px; display: flex; justify-content: center;}
.right .comparison .sub_page{width: 80%; margin-right: 50px; text-align: center;}
.right .comparison .sub_page img{width: 100%; margin-top: 30px; position: absolute;}

