@charset"utf-8";

.left{position: fixed; width: 15%; height: 100vh; min-height: 900px; }
.left .container{width: 100%; height: 100%; border-radius: 0px 20px 20px 0px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.left .container .logo{width: 80%; margin-bottom: 30px;}
.left .container .logo img{width: 100%;}
.left .container .btn-group{display: flex; flex-direction: column;}

.right{width: 85%; left: 15%; overflow: hidden; font-family: "Noto Sans KR";}
.right .main{height: 100vh; display: flex; align-items: center; justify-content: center; min-height: 900px;}
.right .text{width: 400px; left: 50px;}
.right .text .title{font-weight: 900; font-size: 70px; height: 200px; display: flex; align-items: center; line-height: 80px}
.right .text p{font-weight: 100; line-height: 25px}
.right .text .p1{font-weight: 100}
.right .text .p1 span{margin-left: 20px}
.right .text .p2{margin: 30px 0;}
.right .text .p3{margin: 30px 0;}

.right .frame{margin-left: 100px;}
.right .frame img{width: 100%;}
.right .frame video{width: 100%}

.right .design_concept{height: 100vh; width: 100%;}
.right .design_concept .design_left{width: 100%; height: 100vh; display: flex; align-items: center;position: absolute; left: 5%;}
.right .design_concept .design_left .concept{width: 30%}
.right .design_concept .design_left .concept img{width: 100%}
.right .design_concept .design_right{width: 55%;  height: 100vh; display: flex; position: absolute;flex-direction: column; justify-content: center; left: 45%;}
.right .design_concept .color .detail{top: 28%; left: 34%; position: absolute;}
.right .design_concept .small_title{font-weight: bold; margin-bottom: 15px;font-size: 20px; text-align: end; right: 70px;}
.right .design_concept .color .bg{margin-bottom: 80px;}
.right .color_title{position: absolute; top: 38%; left: 8%; font-size: 18px; font-weight: bold;}
.right .type_title{position: absolute; top: 35%; left: 5%; font-size: 18px; font-weight: bold; }
.right .type_content{left: 25%; font-size: 18px; font-weight: bold;}
.right .type_content td:nth-child(1){width: 50px; font-size: 12px; font-family: 'Noto Sans KR' !important}
.right .type_content td:nth-child(2){width: 130px;}

.right .analysis{height: 400px;}
.right .analysis .small_title{font-weight: bold; margin-bottom: 15px;font-size: 20px; text-align: end; right: 70px; top: calc(50% - 10px);}
.right .analysis .fail{position: absolute; right: 50%; top: calc(50% - 145px);}
.right .analysis .fail_title{position: absolute; top: 45%; right: 8%; font-size: 18px; font-weight: bold; text-align: center;}
.right .analysis .fail_point{width: 300px;line-height: 50px; font-family: "Noto Sans KR"; position: absolute; top: 25%; left: 48%; font-size: 20px;}

.right .comparison{margin-top: 200px;}
.right .comparison .main_com{display: flex; justify-content: center; font-size: 20px;}
.right .comparison .old{width: 40%; margin-right: 50px; text-align: center;}
.right .comparison .old img{width: 100%; margin-top: 30px; box-shadow: 1px 1px 10px rgba(0,0,0,0.3)}
.right .comparison .new{width: 40%; text-align: center;}
.right .comparison .new img{width: 100%;margin-top: 30px; box-shadow: 1px 1px 10px rgba(0,0,0,0.3)}


.top_btn{display: flex; justify-content: flex-end; position: fixed; bottom: 20px; right: 20px; z-index: 500;}
.top_btn img{transform: rotate(180deg); padding: 20px; cursor: pointer;}